@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

body {
  margin: 0;
  font-family: 'Metal Mania',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Metal Mania, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
